/* *{
    background-color: rgb(195, 172, 172);
} */
/* div{
    background-color: aliceblue;
    color: rgb(170, 255, 1); 
    border: 2px solid black;
}
li{
    color: aqua;
    background-color: black;
} */

/* body{
    text-align: center;
    font-family: serif;
}

button{
    margin-top: 20px;
    padding: 8px 15px;
}

div{
    height: 150px;
    width: 600px;
    border: 2px solid black;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */
body{
    font-family: "Helvetica Now Display", Helvetica, sans-serif;
    margin: 0 auto;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}
button{
    height: 50px;
    width: 140px;
    border-radius: 30%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}